{% extends 'homebase.html' %}


{% block title %} {{ setting.title }}  {% endblock %}
{% block keywords %} {{ setting.keywords }}  {% endblock %}
{% block head %}
    <link rel="shortcut icon" href="{{ setting.icon.url }}">  {% endblock %}


{% load static %}
{% block content %}


    <!-- start banner Area -->
    <section class="banner-area relative" id="home">
        <div class="overlay overlay-bg"></div>
        <div class="container">
            <div class="row d-flex align-items-center justify-content-center">
                <div class="about-content col-lg-12">
                    <h1 class="text-white">
                        Hesabım
                    </h1>
                    <p class="text-white link-nav"><a href="/">Home </a> <span class="lnr lnr-arrow-right"></span> <a
                            href="/account"> Hesabım</a></p>
                </div>
            </div>
        </div>
    </section>
    <!-- End banner Area -->


    <div class="container-fluid" style="margin-top: 55px; min-height: 1000px">
        <div class="row">

            <div class="col-md-2">

            </div>


            <div class="col-md-3">
                {% block slider %} {% include 'accountsidebar.html' %} {% endblock %}
            </div>

            <div class="col-md-6">
            <h4>Yaptığınız Yorumlar</h4> <br>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Ad</th>
                        <th scope="col">Soyad</th>
                        <th scope="col">Email</th>
                        <th scope="col">Yorum</th>
                        <th scope="col">Araç</th>
                        <th scope="col">Statü</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for comment in comments %}
                        <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ comment.name }}</td>
                            <td>{{ comment.surname }}</td>
                            <td>{{ comment.email }}</td>
                            <td>{{ comment.comment }}</td>
                            <td><a href="/vehicle/{{ comment.product.id }}">{{ comment.product.title }}</a></td>
                            <td>{% if comment.status == "TRUE" %} Aktif {% elif comment.status == "FALSE" %} Red {% else %} Beklemede {% endif %}</td>
                        </tr>
                    {% endfor %}


                    </tbody>
                </table>



            </div>


        </div>
    </div>




{% endblock %}


