{% extends 'homebase.html' %}


{% block title %} {{ setting.title }}  {% endblock %}
{% block keywords %} {{ setting.keywords }}  {% endblock %}
{% block head %}
    <link rel="shortcut icon" href="{{ setting.icon.url }}">  {% endblock %}


{% load static %}
{% block content %}

    <!-- start banner Area -->
    <section class="banner-area relative" id="home">
        <div class="overlay overlay-bg"></div>
        <div class="container">
            <div class="row d-flex align-items-center justify-content-center">
                <div class="about-content col-lg-12">
                    <h1 class="text-white">
                        Araçlarımız
                    </h1>
                    <p class="text-white link-nav"><a href="/">Home </a> <span class="lnr lnr-arrow-right"></span> <a
                            href="/vehicle"> Araçlar</a></p>
                </div>
            </div>
        </div>
    </section>
    <!-- End banner Area -->


    <div class="container" style="margin-top: 55px; min-height: 1000px">
        <div class="row">


            {% for rs in products %}
                <div class="col-md-12">

                    <div onclick="location.href='{{ rs.id }}'" class="card mb-3 productpageitem"
                         style="cursor: pointer">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <img src="{{ rs.image.url }}" class="card-img" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">{{ rs.title }}</h5>
                                    <p class="card-text">This is a wider card with supporting text below as a natural
                                        lead-in to additional content. This content is a little bit longer.</p>
                                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                    <h3 style="color: orange">{{ rs.price }}₺</h3>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                {% empty %}
                <h6>Aradığınız araç bulunamadı..</h6>
            {% endfor %}


        </div>
    </div>







{% endblock %}